/*!
Theme Name: Zakra
Theme URI: https://zakratheme.com/
Author: ThemeGrill
Author URI: https://themegrill.com
Description: Zakra is a powerful and versatile multipurpose theme that makes it easy to create beautiful and professional websites. With over free 40 pre-designed starter demo sites to choose from, you can quickly build a unique and functional site that fits your specific needs. Whether you're launching a blog, news site, e-commerce store, showcasing your portfolio, building a business site, LMS, or niche-specific site (such as a cafe, spa, charity, yoga studio, wedding venue, dental practice, photography, restaurant, or educational institution), Zakra has everything you need to succeed. The theme integrates seamlessly with popular page builders like Elementor, Brizy, BlockArt, and the Gutenberg editor, giving you complete freedom to create any layout you can imagine. Importantly, Zakra is optimized for speed, features a mobile-first responsive design, is built with block-based technology, and is optimized for search engines. It is also compatible with a wide range of popular WordPress plugins, allowing you to extend its functionality as needed. Build your next project with Zakra today and see the difference for yourself. Check out all the starter sites at https://zakratheme.com/demos!
Version: 3.0.0.5
Tested up to: 6.0
Requires PHP: 5.6
License: GPLv3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
Text Domain: zakra
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-logo, featured-images, footer-widgets, full-width-template, theme-options, threaded-comments, translation-ready, blog, news, e-commerce, rtl-language-support

Zakra is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Abstract
	- Abstract

# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins

# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Abstract.
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Generic.
--------------------------------------------------------------*/
/* Normalize.
--------------------------------------------- */
/*=============================================
=            Normalize            =
=============================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
	vertical-align: baseline;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 600;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	border-style: solid;
	border-width: 0;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: 700;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/* Box sizing.
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base.
--------------------------------------------------------------*/
/* Container
--------------------------------------------- */
.zak-container {
	max-width: var(--container-width, 1170px);
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/*=============================================
=            GRID            =
=============================================*/
.zak-container--flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.zak-container--flex-center {
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.zak-container--flex-space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.zak-site-layout--stretched #page .zak-content .zak-container {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.zak-site-layout--stretched #page .zak-content .zak-container .zak-primary {
	width: 100%;
}

.zak-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Typography
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #3F3F46;
	line-height: 1.3;
	font-weight: 400;
	margin: 0 0 20px;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.6rem;
}

html {
	font-size: 62.5%;
	/* Sets base font size to 10px */
}

p {
	word-break: break-word;
	margin-bottom: 20px;
}

code {
	background-color: #E0F2FE;
	padding: 0.125em 0.25em;
}

pre {
	background-color: #F4F4F5;
	padding: 20px;
}

blockquote,
.wp-block-quote {
	padding: 16px;
	margin-top: 34px;
	margin-bottom: 34px;
	border-left: 4px solid #027ABB;
	color: #27272A;
	font-style: italic;
}

blockquote.has-text-align-right, blockquote.is-style-large, blockquote.is-style-plain,
.wp-block-quote.has-text-align-right,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-plain {
	border: unset;
	border-left: 4px solid #027ABB;
}

.wp-block-pullquote.has-border-color {
	border: unset !important;
	border-top: 4px solid #027ABB !important;
	border-bottom: 4px solid #027ABB !important;
}

/* Elements
--------------------------------------------- */
a {
	color: inherit;
	text-decoration: none;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

a:active {
	outline: 0;
}

.entry-content a,
.edit-link a {
	color: #027ABB;
	text-decoration: underline;
}

.entry-content a:hover, .entry-content a:focus,
.edit-link a:hover,
.edit-link a:focus {
	text-decoration: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button .wp-block-button__link,
.zak-button {
	border-radius: 4px;
	padding: 8px 10px;
	color: #FAFAFA;
	background-color: #027ABB;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: 1px solid #027ABB;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.wp-block-button .wp-block-button__link:hover,
.zak-button:hover {
	color: #027ABB;
	background-color: transparent;
}

.wp-block-button__link code {
	background-color: inherit;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	outline: none;
	border: 1px solid #D4D4D8;
	border-radius: 0;
	padding: 0.7rem 1rem;
	width: 100%;
	color: #3F3F46;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
	color: #52525B;
}

input[type="search"] {
	-webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 0.5rem;
	vertical-align: middle;
	display: inline-block;
}

label {
	margin-bottom: 0.5rem;
	display: inline-block;
}

select {
	border: 1px solid #D4D4D8;
	padding: 0.5rem;
}

body {
	background: #FFF;
	/* Fallback for when there is no custom background color defined. */
	color: #3F3F46;
	font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, "oxygen-sans", ubuntu, cantarell, "helvetica neue", helvetica, arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.8;
	letter-spacing: 0.01em;
	word-wrap: break-word;
}

ul,
ol {
	margin: 0 0 1.6rem 1.6rem;
	padding-left: 0;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.6rem;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.6rem 1.6rem;
}

.zak-oembed-container {
	position: relative;
	padding-top: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.zak-oembed-container iframe,
.zak-oembed-container object,
.zak-oembed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body .zak-oembed-container * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

iframe {
	max-width: 100%;
}

/* Gallery. */
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* Caption. */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*=============================================
=            Table            =
=============================================*/
table,
.wp-block-table {
	margin: 0 0 1.5em;
	width: 100%;
}

table th,
table td,
.wp-block-table th,
.wp-block-table td {
	text-align: left;
	border: 1px solid #D4D4D8;
	padding: 1em;
}

@font-face {
	font-family: "themegrill-icons";
	src: url("/wp-content/themes/zakra/assets/fonts/themegrill-icons.eot?5d42b271f668d2d6461ba91fc5a5a839#iefix") format("embedded-opentype"), url("/wp-content/themes/zakra/assets/fonts/themegrill-icons.woff2?5d42b271f668d2d6461ba91fc5a5a839") format("woff2"), url("/wp-content/themes/zakra/assets/fonts/themegrill-icons.woff?5d42b271f668d2d6461ba91fc5a5a839") format("woff");
	font-display: swap;
}

.zak-icon {
	font-family: "themegrill-icons";
	display: inline-block;
	font-size: 1rem;
	font-style: normal;
}

.zak-icon-angle-down::after {
	content: "\f101";
}

.zak-icon-angle-left::after {
	content: "\f102";
}

.zak-icon-angle-right::after {
	content: "\f103";
}

.zak-icon-angle-up::after {
	content: "\f104";
}

.zak-icon-arrow-down::after {
	content: "\f105";
}

.zak-icon-arrow-left::after {
	content: "\f106";
}

.zak-icon-arrow-right::after {
	content: "\f107";
}

.zak-icon-arrow-up::after {
	content: "\f108";
}

.zak-icon-bars::after {
	content: "\f109";
}

.zak-icon-close::after {
	content: "\f10a";
}

.zak-icon-search::after {
	content: "\f10b";
}

.zak-icon-shopping-cart::after {
	content: "\f10c";
}

/* SVG icons */
.zak-icon {
	display: block;
	width: 1.25em;
	height: 1.25em;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/*=============================================
=            Admin Bar            =
=============================================*/
.admin-bar {
	--admin-bar: 32px;
}

@media screen and (max-width: 782px) {
	.admin-bar {
		--admin-bar: 46px;
	}
}

/*--------------------------------------------------------------
# Utilities.
--------------------------------------------------------------*/
/* AMP.
--------------------------------------------- */
.zak-mobile-nav li.menu-item-has-children .toggled-on + ul {
	max-height: 500px;
}

.zak-mobile-nav li.menu-item-has-children .zak-submenu-toggle.toggled-on::after {
	content: "-";
}

/* Accessibility.
--------------------------------------------- */
/*=============================================
=            Accesibility            =
=============================================*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #E4E4E7;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #3F3F46;
	display: block;
	font-size: 14px;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#zak-content[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments.
--------------------------------------------- */
/*=============================================
=            Alignments            =
=============================================*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tg-flex-left {
	margin-right: auto;
}

.tg-flex-right {
	margin-left: auto;
}

.wp-block-gallery.alignleft, .wp-block-gallery.alignright, .wp-block-gallery.aligncenter,
.wp-block-social-links.alignleft,
.wp-block-social-links.alignright,
.wp-block-social-links.aligncenter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

/* Infinite scroll.
--------------------------------------------- */
/*=============================================
=            Infinite Scroll            =
=============================================*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .zak-numbered-pagination,
.infinite-scroll.neverending .zak-footer {
	display: none;
}

/*Display element when scroll ends. */
.infinity-end.neverending .zak-footer {
	display: block;
}

#infinite-handle span {
	border: 0 solid #E4E4E7;
	background-color: #027ABB;
	color: #FAFAFA;
	padding: 0.7rem 1rem;
}

#infinite-handle span:hover {
	background-color: #015989;
}

/* Clearings.
--------------------------------------------- */
/*=============================================
=            Clearings            =
=============================================*/
.clear::before,
.clear::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.zak-content::after {
	display: table;
	content: "";
}

.clear::after,
.entry-content::after,
.comment-content::after,
.zak-content::after {
	clear: both;
}

hr,
.wp-block-separator {
	background-color: #E4E4E7;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Components.
--------------------------------------------------------------*/
/* Site branding.
--------------------------------------------- */
.site-branding {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 20px;
	overflow-wrap: anywhere;
}

.site-branding .zakra-mobile-logo {
	display: none;
}

.site-branding .mobile-custom-logo-link {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.site-branding .custom-logo-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.site-title {
	color: #27272A;
	font-size: 4rem;
	font-weight: 600;
	line-height: 1.3;
}

.site-title a {
	color: inherit;
}

.site-title,
.site-description {
	margin: 0;
}

.site-description {
	font-size: 1.6rem;
}

/* Navigation.
--------------------------------------------- */
.zak-main-nav li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.zak-main-nav .zak-submenu-toggle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 8px;
	cursor: pointer;
}

.zak-main-nav .zak-submenu-toggle .zak-icon {
	width: 12px;
	height: 12px;
}

.zak-primary-nav {
	display: none;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-bottom: 0 solid #E4E4E7;
	margin-left: auto;
}

.zak-primary-nav .zak-primary-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 24px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.zak-primary-nav .zak-primary-menu > li > a:hover {
	text-decoration: none;
}

.zak-primary-nav .zak-primary-menu > li:hover ul ul,
.zak-primary-nav .zak-primary-menu > li.focus ul ul {
	position: absolute;
	left: -999999px;
}

.zak-primary-nav .zak-primary-menu > li.zak-menu-item-cart {
	margin-right: 10px;
}

.zak-primary-nav .zak-primary-menu > li > ul.zak-edge {
	right: 0;
	left: auto;
}

.zak-primary-nav .zak-primary-menu ul li:hover ul ul,
.zak-primary-nav .zak-primary-menu ul ul li:hover ul ul,
.zak-primary-nav .zak-primary-menu ul li.focus ul ul,
.zak-primary-nav .zak-primary-menu ul ul li.focus ul ul {
	position: absolute;
	left: -999999px;
}

.zak-primary-nav .zak-primary-menu ul li:hover > ul,
.zak-primary-nav .zak-primary-menu ul li.focus > ul {
	left: 100%;
}

.zak-primary-nav .zak-primary-menu ul ul li:hover > ul,
.zak-primary-nav .zak-primary-menu ul ul ul li:hover > ul,
.zak-primary-nav .zak-primary-menu ul ul li.focus > ul,
.zak-primary-nav .zak-primary-menu ul ul ul li.focus > ul {
	left: 100%;
}

.zak-primary-nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.zak-primary-nav ul .current_page_ancestor > a,
.zak-primary-nav ul .current-menu-ancestor > a,
.zak-primary-nav ul .current_page_item > a,
.zak-primary-nav ul .current-menu-item > a {
	color: #027ABB;
}

.zak-primary-nav ul .menu-item-has-children,
.zak-primary-nav ul .page_item_has_children {
	position: relative;
}

.zak-primary-nav ul li:hover > ul,
.zak-primary-nav ul li.focus > ul {
	left: 0;
}

.zak-primary-nav li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border: 0 solid #E4E4E7;
}

.zak-primary-nav li ul,
.zak-primary-nav li:hover ul ul,
.zak-primary-nav li.focus ul ul {
	z-index: 99999;
	position: absolute;
	left: -999999px;
}

.zak-primary-nav li:hover > ul,
.zak-primary-nav li.focus > ul {
	left: auto;
}

.zak-primary-nav .sub-menu {
	display: block;
	position: absolute;
	top: 100%;
	width: 240px;
	border: 1px solid #E4E4E7;
	background-color: #fff;
	border-radius: 4px;
}

.zak-primary-nav .sub-menu li {
	border-bottom: 1px solid #F4F4F5;
}

.zak-primary-nav .sub-menu li ul {
	top: -1px;
	left: 100%;
}

.zak-primary-nav .sub-menu li:last-child {
	border-bottom: 0;
}

.zak-primary-nav .sub-menu li.menu-item-has-children ul.zak-edge, .zak-primary-nav .sub-menu li.page_item_has_children ul.zak-edge {
	left: -100%;
}

.zak-primary-nav .sub-menu li a {
	padding: 14px 16px;
}

.zak-primary-nav .sub-menu .zak-submenu-toggle {
	padding-left: 0;
	padding-top: 8px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_ancestor > a, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-ancestor > a, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_item > a, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-item > a, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current_page_ancestor > a, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current-menu-ancestor > a, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current_page_item > a, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current-menu-item > a, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current_page_ancestor > a, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current-menu-ancestor > a, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current_page_item > a, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current-menu-item > a {
	position: relative;
}

.zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_ancestor > a::before, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-ancestor > a::before, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_item > a::before, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-item > a::before, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current_page_ancestor > a::before, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current-menu-ancestor > a::before, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current_page_item > a::before, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current-menu-item > a::before, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current_page_ancestor > a::before, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current-menu-ancestor > a::before, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current_page_item > a::before, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current-menu-item > a::before {
	content: "";
	position: absolute;
	background-color: #027ABB;
}

.zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_ancestor > a, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-ancestor > a, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_item > a, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-item > a {
	position: relative;
}

.zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_ancestor > a:hover, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-ancestor > a:hover, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_item > a:hover, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-item > a:hover {
	text-decoration: none;
}

.zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_ancestor > a::before, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-ancestor > a::before, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current_page_item > a::before, .zak-primary-nav.zak-layout-1-style-2 > ul > li.current-menu-item > a::before {
	height: 2px;
	width: 100%;
	bottom: 0;
}

.zak-primary-nav.zak-layout-1-style-2 > ul a {
	position: relative;
}

.zak-primary-nav.zak-layout-1-style-2 > ul a:hover::before {
	content: "";
	position: absolute;
	background-color: #027ABB;
	height: 2px;
	width: 100%;
	bottom: 0;
	left: 0;
}

.zak-primary-nav.zak-layout-1-style-3 > ul > li.current_page_ancestor > a::before, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current-menu-ancestor > a::before, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current_page_item > a::before, .zak-primary-nav.zak-layout-1-style-3 > ul > li.current-menu-item > a::before {
	width: 2px;
	height: 12px;
	top: 50%;
	left: -5px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.zak-primary-nav.zak-layout-1-style-4 > ul > li.current_page_ancestor > a::before, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current-menu-ancestor > a::before, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current_page_item > a::before, .zak-primary-nav.zak-layout-1-style-4 > ul > li.current-menu-item > a::before {
	width: 2px;
	height: 12px;
	top: 50%;
	left: auto;
	right: -5px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
	.zak-primary-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}

.zak-primary-nav > ul > li.zak-menu-extras-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.zak-primary-nav > ul > li.zak-menu-extras-wrap .submenu-expand {
	cursor: pointer;
	width: 28px;
	height: 28px;
	padding: 0;
	text-align: center;
}

/* Toggle button. */
.zak-toggle-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 20px;
}

.zak-toggle-menu .zak-menu-toggle {
	padding: 0 2px;
	border: none;
	color: inherit;
	background: initial;
	line-height: normal;
}

.zak-toggle-menu .zak-menu-toggle:hover {
	background-color: transparent;
}

.zak-layout-1-style-2 .zak-toggle-menu,
.zak-layout-1-style-3 .zak-toggle-menu {
	margin-left: 0;
}

.zak-toggle-menu .zak-icon {
	width: 28px;
	height: 28px;
	fill: #3F3F46;
}

@media screen and (min-width: 768px) {
	.zak-toggle-menu {
		display: none;
	}
}

/* Mobile navigation. */
.zak-mobile-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 12px;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	padding: 1.75em 1em;
	background-color: #27272A;
	color: #FAFAFA;
	-webkit-transition: 0.35s visibility ease, 0.35s opacity ease, 0.35s -webkit-transform ease;
	transition: 0.35s visibility ease, 0.35s opacity ease, 0.35s -webkit-transform ease;
	transition: 0.35s transform ease, 0.35s visibility ease, 0.35s opacity ease;
	transition: 0.35s transform ease, 0.35s visibility ease, 0.35s opacity ease, 0.35s -webkit-transform ease;
	max-height: 100vh;
	overflow-y: auto;
}

.zak-mobile-nav .zak-icon {
	fill: #FAFAFA;
}

.zak-mobile-nav--opened {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	width: 100%;
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.zak-mobile-nav ul {
	padding: 0;
	margin: 0;
}

.zak-mobile-nav li {
	position: relative;
	list-style-type: none;
}

.zak-mobile-nav li.zak-menu-extras-wrap {
	display: none;
}

.zak-mobile-nav > div {
	/* Top level ul. */
}

.zak-mobile-nav > div > ul {
	border-top: 0.5px solid #D4D4D8;
	padding-top: 1em;
}

.zak-mobile-menu li {
	border-bottom: 1px solid #3F3F46;
}

.zak-mobile-menu li:last-child {
	border-bottom: none;
}

.zak-mobile-menu a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 14px 16px;
	color: #FAFAFA;
	word-break: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.zak-mobile-menu .page_item_has_children,
.zak-mobile-menu .menu-item-has-children {
	position: relative;
}

.zak-mobile-menu .page_item_has_children .sub-menu,
.zak-mobile-menu .menu-item-has-children .sub-menu {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	visibility: hidden;
	overflow: hidden;
	max-height: 0;
	border-top: 1px solid #3F3F46;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.zak-mobile-menu .page_item_has_children .sub-menu li .sub-menu,
.zak-mobile-menu .menu-item-has-children .sub-menu li .sub-menu {
	padding-left: 16px;
}

.zak-mobile-menu .page_item_has_children .sub-menu li .sub-menu a,
.zak-mobile-menu .menu-item-has-children .sub-menu li .sub-menu a {
	padding-left: 30px;
}

.zak-mobile-menu .page_item_has_children .sub-menu a,
.zak-mobile-menu .menu-item-has-children .sub-menu a {
	padding-left: 30px;
}

.zak-mobile-menu .submenu--show > .zak-submenu-toggle .zak-icon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.zak-mobile-menu .submenu--show + .sub-menu,
.zak-mobile-menu .submenu--show > .sub-menu {
	max-height: 500px;
	visibility: visible;
	overflow-y: auto;
}

.zak-mobile-menu .submenu--show + .sub-menu::-webkit-scrollbar,
.zak-mobile-menu .submenu--show > .sub-menu::-webkit-scrollbar {
	width: 4px;
}

.zak-mobile-menu .submenu--show + .sub-menu::-webkit-scrollbar-track,
.zak-mobile-menu .submenu--show > .sub-menu::-webkit-scrollbar-track {
	background: #E4E4E7;
}

.zak-mobile-menu .submenu--show + .sub-menu::-webkit-scrollbar-thumb,
.zak-mobile-menu .submenu--show > .sub-menu::-webkit-scrollbar-thumb {
	background-color: #52525B;
	border-radius: 5px;
}

.zak-mobile-menu .submenu--show + .sub-menu .submenu--show > .zak-submenu-toggle .zak-icon,
.zak-mobile-menu .submenu--show > .sub-menu .submenu--show > .zak-submenu-toggle .zak-icon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.zak-mobile-menu .current_page_item a {
	text-decoration: underline;
}

.zak-mobile-nav__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-bottom: 30px;
	/* Search field */
}

.zak-mobile-nav__header .zak-header-search {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.zak-mobile-nav__header .zak-header-search a {
	display: none;
}

.zak-mobile-nav__header .zak-mobile-nav-close {
	position: absolute;
	top: 16px;
	right: 16px;
	padding: unset;
	border: unset;
	color: unset;
	background-color: unset;
	cursor: pointer;
	text-align: center;
}

.zak-mobile-nav__header .zak-mobile-nav-close .zak-icon {
	width: 24px;
	height: 24px;
}

.zak-mobile-nav__header .zak-search-container {
	display: block;
	width: 80%;
	padding-bottom: 12px;
	border-bottom: 1px solid #A1A1AA;
}

.zak-mobile-nav__header .zak-search-container .zak-icon {
	width: 20px;
	height: 20px;
}

.zak-mobile-nav__header .zak-search-form .zak-search-field {
	padding: 0;
	line-height: 1.8;
	color: #FFF;
}

/* Overlay. */
.zak-overlay-wrapper {
	z-index: 999;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.05);
	display: none;
}

.zak-overlay-wrapper.overlay-show {
	display: block;
}

.zak-footer-bar .menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
}

.zak-footer-bar .menu li a {
	padding: 0 0.5em;
}

/* Post Navigation */
.posts-navigation,
.post-navigation {
	margin-top: 40px;
	padding: 20px 0;
	border-bottom: 1px solid #E4E4E7;
	border-top: 1px solid #E4E4E7;
}

.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 20px;
	word-break: break-all;
}

.posts-navigation .nav-links a,
.post-navigation .nav-links a {
	vertical-align: middle;
}

.posts-navigation .nav-links .nav-previous,
.post-navigation .nav-links .nav-previous {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}

.posts-navigation .nav-links .nav-previous a::before,
.post-navigation .nav-links .nav-previous a::before {
	margin-right: 0.5rem;
	font-family: "themegrill-icons" !important;
	vertical-align: middle;
	content: "\f102";
}

.posts-navigation .nav-links .nav-next,
.post-navigation .nav-links .nav-next {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	text-align: right;
}

.posts-navigation .nav-links .nav-next a::after,
.post-navigation .nav-links .nav-next a::after {
	margin-left: 0.5rem;
	font-family: "themegrill-icons" !important;
	vertical-align: middle;
	content: "\f103";
}

@media screen and (min-width: 768px) {
	.posts-navigation .nav-links,
	.post-navigation .nav-links {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

/* Header actions.
--------------------------------------------- */
.zak-header-actions {
	display: none;
	margin-left: 40px;
}

.zak-mobile-nav .zak-header-actions {
	display: block;
}

.zak-mobile-nav .zak-header-actions .zak-header-search {
	display: none;
}

.zak-header-actions .zak-header-actions {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
}

.zak-header-actions .zak-header-actions > li {
	margin: 1em;
}

.zak-header-actions .zak-header-actions > li:last-child {
	margin-right: 0;
}

.zak-header-actions .zak-icon--close {
	display: none;
}

.zak-header-actions li {
	list-style: none;
}

.zak-header-search {
	cursor: pointer;
}

.zak-header-search .zak-search-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	visibility: hidden;
	width: 90%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.zak-header-search .zak-search-container .zak-icon--search {
	display: none;
}

.zak-header-search svg {
	height: 20px;
	width: 20px;
}

/* Mini cart. */
.zak-menu-item-cart .cart-page-link {
	position: relative;
}

.zak-menu-item-cart .cart-page-link .zakra-icon--cart {
	width: 20px;
	height: 20px;
}

.zak-menu-item-cart .cart-page-link .count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 10px;
	width: 16px;
	height: 16px;
	background-color: #027ABB;
	color: #FAFAFA;
	position: absolute;
	top: -5px;
	right: -10px;
	border-radius: 50%;
	text-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.zak-main-header.zak-header-search--opened {
		background: #27272A;
	}
	.zak-header-search--opened .zak-container .zak-header-col.zak-header-col--2 {
		background: none;
		border: none;
	}
	.zak-header-search--opened .zak-main-nav,
	.zak-header-search--opened .zak-primary-nav,
	.zak-header-search--opened .site-branding,
	.zak-header-search--opened .zak-header-col--1 {
		visibility: hidden;
		opacity: 0;
	}
	.zak-header-search--opened .zak-search-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		z-index: 9999;
		visibility: visible;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.zak-header-search--opened .zak-header-buttons {
		display: none;
	}
	.zak-header-search--opened .zak-header-search__toggle {
		display: none;
	}
	.zak-header-search--opened .zak-header-action li {
		display: none;
	}
	.zak-header-search--opened .zak-search-field-label input {
		color: #FFF;
		padding: 0.7rem 0;
		background-color: inherit;
	}
	.zak-header-search--opened .zak-search-field-label input:focus {
		color: #FFF;
	}
	.zak-header-search--opened .zak-search-field-label input:-webkit-autofill,
	.zak-header-search--opened .zak-search-field-label input:-webkit-autofill:focus {
		-webkit-transition: background-color 600000s 0s, color 600000s 0s;
		transition: background-color 600000s 0s, color 600000s 0s;
	}
	.zak-header-search--opened .zak-search-field-label input[data-autocompleted] {
		background-color: transparent !important;
	}
	.zak-header-search--opened .zak-search-field-label .zak-icon--search {
		display: block;
	}
	.zak-header-search--opened .zak-search-field-label .zak-icon--search svg {
		fill: #FFF;
	}
	.zak-header-search--opened .zak-icon--close {
		position: relative;
		display: block;
		background: unset;
		border: none;
		padding: 10px;
		z-index: 9999;
	}
	.zak-header-search--opened .zak-icon--close:focus {
		outline: 1px solid #FFF;
	}
	.zak-header-search--opened .zak-icon--close:active {
		outline: none;
	}
	.zak-header-search--opened .zak-icon--close:before {
		content: "";
		position: absolute;
		top: 10px;
		right: 0;
		width: 20px;
		height: 2px;
		border-radius: 2px;
		background: #FFF;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.zak-header-search--opened .zak-icon--close:after {
		content: "";
		position: absolute;
		top: 10px;
		right: 0;
		width: 20px;
		height: 2px;
		border-radius: 2px;
		background: #FFF;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.zak-header-search--opened .zak-icon--close:hover {
		cursor: pointer;
	}
	.zak-header-search--opened .zak-icon--close:hover:before {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.zak-header-search--opened .zak-icon--close:hover:after {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.zak-header-actions {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 16px;
	}
}

/* Search.
--------------------------------------------- */
.zak-search-form {
	position: unset;
	display: block;
	width: 100%;
}

.zak-search-form .zak-search-submit {
	display: none;
}

.zak-search-form .zak-search-field-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 16px;
	width: 100%;
	margin-bottom: 0;
}

.zak-search-form .zak-search-field {
	border: 0;
	background-color: #27272A;
	color: #3F3F46;
	opacity: 0.9;
}

.zak-search-form .zak-search-field:focus {
	color: #FFF;
}

.zak-search-form input:-webkit-autofill,
.zak-search-form input:-webkit-autofill:focus {
	-webkit-transition: background-color 600000s 0s, color 600000s 0s;
	transition: background-color 600000s 0s, color 600000s 0s;
}

.zak-search-form input[data-autocompleted] {
	background-color: transparent !important;
}

/* Header buttons.
--------------------------------------------- */
/* Desktop & mobile header buttons */
.zak-header-buttons .zak-header-button .zak-button {
	display: block;
	text-align: center;
	border: 1px solid #027ABB;
}

.zak-header-buttons .zak-header-button .zak-button:hover {
	color: #027ABB;
	border: 1px solid #027ABB;
}

.zak-header-buttons .zak-header-button.zak-header-button--2 .zak-button {
	background: transparent;
	border: 1px solid #027ABB;
	color: #027ABB;
}

/* Desktop header buttons. */
.zak-header-buttons--desktop {
	display: none;
	margin-left: 24px;
}

/* Mobile header buttons. */
.zak-mobile-nav .zak-header-buttons {
	display: block;
	margin-top: 18px;
}

.zak-mobile-nav .zak-icon--close {
	display: none;
}

@media screen and (min-width: 768px) {
	.zak-header-buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 24px;
	}
	.zak-header-buttons .zak-button:hover {
		color: #027ABB;
		border-color: #027ABB;
	}
}

/* Header media.
--------------------------------------------- */
.wp-custom-header {
	position: relative;
}

.wp-custom-header img {
	margin: 0 auto;
	width: 100%;
	vertical-align: middle;
}

.wp-custom-header iframe#wp-custom-header-video {
	width: 100%;
}

.wp-custom-header video#wp-custom-header-video {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.wp-custom-header:hover .wp-custom-header-video-button {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.wp-custom-header .wp-custom-header-video-button {
	position: absolute;
	top: calc( 50% - 30px);
	left: calc( 50% - 30px);
	z-index: 9999;
	height: 60px;
	width: 70px;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	-webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
	-webkit-transition: opacity 0.35s, visibility 0.35s, -webkit-box-shadow 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, visibility 0.35s, -webkit-box-shadow 0.35s, -webkit-transform 0.35s;
	transition: box-shadow 0.35s, opacity 0.35s, visibility 0.35s, transform 0.35s;
	transition: box-shadow 0.35s, opacity 0.35s, visibility 0.35s, transform 0.35s, -webkit-box-shadow 0.35s, -webkit-transform 0.35s;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}

.wp-custom-header .wp-custom-header-video-button:hover {
	-webkit-box-shadow: 0 0 75px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 75px rgba(0, 0, 0, 0.8);
}

/* Page header.
--------------------------------------------- */
.zak-page-header {
	padding: 30px 0;
	background-color: #E4E4E7;
}

.zak-page-header .zak-archive-description {
	display: none;
}

.zak-page-header .zak-row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 20px;
}

.zak-page-header .zak-page-title {
	margin-bottom: 0;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 1.3;
}

.zak-page-header.zak-style-1 .zak-page-title {
	margin-right: auto;
}

.zak-page-header.zak-style-1 .breadcrumbs {
	margin-left: auto;
}

.zak-page-header.zak-style-3 .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.zak-page-header.zak-style-3 .zak-page-title {
	text-align: center;
}

.zak-page-header.zak-style-2 .zak-page-header__title {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	margin-left: auto;
}

.zak-page-header.zak-style-2 .breadcrumbs {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	margin-right: auto;
}

.zak-page-header.zak-style-4 .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.zak-page-header.zak-style-5 .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

body:not(.has-page-header) .zak-page-header {
	padding: 30px 0;
	background-color: #E4E4E7;
}

body:not(.has-page-header) .zak-page-header .zak-row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 20px;
}

body:not(.has-page-header) .zak-page-header .zak-page-title {
	margin-bottom: 0;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 1.3;
}

body:not(.has-page-header) .zak-page-header.zak-style-1 .zak-page-title {
	margin-right: auto;
}

body:not(.has-page-header) .zak-page-header.zak-style-1 .zak-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

body:not(.has-page-header) .zak-page-header.zak-style-3 .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

body:not(.has-page-header) .zak-page-header.zak-style-3 .zak-page-title {
	text-align: center;
}

body:not(.has-page-header) .zak-page-header.zak-style-2 .zak-page-header__title {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	margin-left: auto;
}

body:not(.has-page-header) .zak-page-header.zak-style-2 .breadcrumbs {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	margin-right: auto;
}

body:not(.has-page-header) .zak-page-header.zak-style-4 .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

body:not(.has-page-header) .zak-page-header.zak-style-5 .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.zak-breadcrumbs .trail-items,
.breadcrumbs .trail-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	list-style-type: none;
}

.zak-breadcrumbs .trail-items li::after,
.breadcrumbs .trail-items li::after {
	content: '/';
	margin: 0 4px;
}

.zak-breadcrumbs .trail-items li:last-child::after,
.breadcrumbs .trail-items li:last-child::after {
	content: none;
}

.zak-breadcrumbs .trail-items a,
.breadcrumbs .trail-items a {
	color: #027ABB;
	text-decoration: underline;
}

.zak-breadcrumbs .trail-items a:hover,
.breadcrumbs .trail-items a:hover {
	text-decoration: none;
}

/* Entry.
--------------------------------------------- */
.sticky {
	display: block;
}

.zak-posts .zak-post {
	padding: 30px 0;
	border-bottom: 1px solid #E4E4E7;
}

.zak-posts .zak-post:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.zak-posts .zak-post:first-child {
	padding-bottom: 30px;
	padding-top: 0;
	border-bottom: 1px solid #E4E4E7;
}

.extra-hatom {
	display: none;
}

.entry-title {
	margin-bottom: 0;
	font-weight: 600;
	word-break: break-word;
}

.entry-title:hover a {
	color: #027ABB;
	text-decoration: underline;
}

.entry-title a {
	color: inherit;
	text-decoration: inherit;
}

.zak-entry-thumbnail {
	margin-bottom: 20px;
}

.zak-entry-thumbnail__link {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.zak-entry-meta {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 12px;
	margin-top: 10px;
	border: 0 solid #E4E4E7;
	font-size: 1.4rem;
}

.zak-entry-meta a {
	color: #027ABB;
	text-decoration: underline;
}

.zak-entry-meta a:hover {
	text-decoration: none;
}

.zak-style-2 .zak-entry-meta span, .zak-style-2 .zak-entry-meta a {
	color: #027ABB;
}

.zak-style-2 .zak-entry-meta a:hover {
	color: #015989;
}

.zak-style-2 .zak-entry-meta > span {
	display: inline-block;
}

.zak-style-2 .zak-entry-meta > span::before {
	display: inline-block;
	font-family: 'FontAwesome';
	margin-right: 5px;
}

.zak-style-2 .zak-entry-meta .zak-comments-link,
.zak-style-2 .zak-entry-meta .zak-posted-on,
.zak-style-2 .zak-entry-meta .zak-cat-links,
.zak-style-2 .zak-entry-meta .zak-byline,
.zak-style-2 .zak-entry-meta .zak-tags-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 6px;
}

.zak-style-2 .zak-entry-meta .zak-comments-link svg,
.zak-style-2 .zak-entry-meta .zak-posted-on svg,
.zak-style-2 .zak-entry-meta .zak-cat-links svg,
.zak-style-2 .zak-entry-meta .zak-byline svg,
.zak-style-2 .zak-entry-meta .zak-tags-links svg {
	fill: #3F3F46;
	height: 16px;
	width: 16px;
}

.zak-style-2 .zak-entry-meta .zak-cat-links,
.zak-style-2 .zak-entry-meta .zak-tags-links {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.entry-content {
	margin-top: 20px;
}

.entry-content p {
	margin-bottom: 24px;
}

.entry-content p:last-child {
	margin-bottom: 0;
}

.zak-entry-summary {
	margin-top: 20px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}

.zak-entry-footer.zak-alignment-style-2 {
	text-align: right;
}

.zak-entry-footer a {
	color: #3F3F46;
}

.zak-entry-footer .edit-link a {
	color: #027ABB;
}

.entry-button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 2px;
}

.entry-button:hover {
	color: #027ABB;
	text-decoration: underline;
}

.entry-button:hover .zak-icon {
	fill: #027ABB;
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
}

/* Comments.
--------------------------------------------- */
/*=============================================
=            Comments            =
=============================================*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

#comments {
	margin-top: 40px;
}

#comments .comment-list {
	list-style-type: none;
	margin-left: 0;
}

#comments .comment-list .comment-respond {
	margin-top: 32px;
}

#comments .comment-list .children {
	list-style-type: none;
	margin-left: 2rem;
}

#comments .comment-list .comment-body {
	padding-bottom: 16px;
}

#comments .comment-list .comment-meta {
	position: relative;
	min-height: 40px;
}

#comments .comment-list .comment-meta .comment-author img.avatar {
	height: 40px;
	width: 40px;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid rgba(17, 17, 17, 0.15);
	border-radius: 100px;
}

#comments .comment-list .comment-meta .comment-author .fn {
	margin-left: 50px;
	margin-bottom: 8px;
	font-size: 2rem;
	font-weight: 400;
}

#comments .comment-list .comment-meta .comment-author .says {
	display: none;
}

#comments .comment-list .comment-meta .comment-metadata {
	margin-left: 50px;
	font-size: 1.4rem;
}

#comments .comment-list .comment-meta .edit-link {
	color: #027ABB;
	text-decoration: underline;
}

#comments .comment-list .comment-meta .edit-link:hover {
	text-decoration: none;
}

#comments .comments-title {
	display: inline-block;
	margin-bottom: 42px;
}

#comments .comments-title,
#comments .comment-reply-title {
	position: relative;
	padding-bottom: 12px;
	border-bottom: 1px solid #E4E4E7;
	font-size: 2.4rem;
}

#comments .comments-title::before,
#comments .comment-reply-title::before {
	position: absolute;
	display: block;
	bottom: -1px;
	content: " ";
	left: 0;
	width: 30px;
	height: 1px;
	background-color: #027ABB;
}

#comments .comment-reply-title {
	display: inline-block;
	margin-bottom: 10px;
}

#comments .comment-content {
	margin-left: 50px;
	margin-top: 24px;
	font-size: 1.4rem;
}

#comments .comment-content a {
	color: #027ABB;
	font-size: 1.4rem;
	text-decoration: underline;
}

#comments .comment-content a:hover {
	text-decoration: none;
}

#comments .comment-content p {
	margin-bottom: 0;
}

#comments .reply {
	margin-left: 50px;
	margin-top: 24px;
	color: #027ABB;
	font-size: 1.4rem;
	text-decoration: underline;
}

#comments .reply:hover {
	text-decoration: none;
}

#comments .logged-in-as {
	margin-bottom: 24px;
}

.comments-area ol.comment-list .children {
	padding-top: 30px;
	border-top: 1px solid #E4E4E7;
}

textarea {
	height: 150px;
}

.comment-respond {
	margin-top: 60px;
}

.comment-respond textarea,
.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond input[type="url"] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: inherit;
	border-radius: 4px;
	margin-bottom: 20px;
}

.comment-respond .form-submit {
	margin-top: 40px;
	margin-bottom: 20px;
}

.comment-respond small {
	margin-left: 16px;
	color: #027ABB;
	font-size: 1.4rem;
	text-decoration: underline;
}

.comment-respond label {
	margin-bottom: 10px;
	font-size: 1.4rem;
	font-weight: 600;
}

.comment-respond input[type="checkbox"] {
	height: 20px;
	width: 20px;
	margin-right: 0;
}

.comment-form-cookies-consent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px;
}

.comment-form-cookies-consent label {
	margin-bottom: 0;
	font-weight: 400;
}

@media screen and (min-width: 992px) {
	.comment-respond textarea,
	.comment-respond input[type="text"],
	.comment-respond input[type="email"],
	.comment-respond input[type="url"] {
		width: 570px;
	}
}

/* Widgets.
--------------------------------------------- */
.widget {
	margin: 0 0 2.5em;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget .wp-block-heading,
.widget .widget-title {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #E4E4E7;
}

.widget .wp-block-heading::before,
.widget .widget-title::before {
	position: absolute;
	display: block;
	bottom: -1px;
	content: " ";
	left: 0;
	width: 30px;
	height: 1px;
	background-color: #027ABB;
}

.widget .widget-title,
.widget h2 {
	margin-bottom: 20px;
	font-size: 2rem;
	font-weight: 600;
}

.widget ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 8px;
	margin: 0;
	list-style-type: none;
}

.widget ul ul {
	padding-left: 1em;
}

.widget ul.footer-social-icon {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.widget li a {
	display: inline-block;
	color: #027ABB;
	text-decoration: underline;
	/* Make sure select elements fit in widgets. */
}

.widget li a:hover {
	text-decoration: none;
}

.widget li a select {
	max-width: 100%;
}

.widget li a + .post-date {
	margin-bottom: 0.5rem;
	display: block;
}

.widget_search .zak-search-form label {
	width: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.widget_search .zak-search-form .zak-icon--search {
	padding-right: 16px;
}

.widget_search .zak-search-form .zak-icon--search svg {
	width: 20px;
	height: 20px;
}

.widget_search .wp-block-search__button {
	margin-left: 0;
}

.widget_search input[type="search"],
.widget_search .zak-search-submit {
	background-color: inherit;
	border: 0;
	height: 50px;
}

.widget_search .wp-element-button {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	color: transparent;
	border: 0;
	line-height: 1;
}

.widget_search .wp-element-button::before {
	position: absolute;
	left: 12px;
	content: "\f002";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #27272A;
	font-size: 1.8rem;
}

.widget_search button {
	display: none;
	background-color: unset;
	padding: 8px;
}

.widget_search .wp-block-search__inside-wrapper,
.widget_search .zak-search-container {
	border: 1px solid #D4D4D8;
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.widget_search .wp-block-search__inside-wrapper:focus-within,
.widget_search .zak-search-container:focus-within {
	border-color: #27272A;
}

.widget_search .wp-block-search__inside-wrapper {
	font-size: 1.4rem;
}

.widget_search .wp-block-search .wp-block-search__label {
	margin-bottom: 10px;
	font-size: 1.4rem;
	font-weight: 600;
}

.widget_recent_comments li {
	padding: 0.5rem 0;
}

.widget_calendar table td, .widget_calendar table th {
	padding: inherit;
	text-align: center;
}

.widget_tag_cloud .tagcloud {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.widget_tag_cloud .tagcloud a {
	font-size: 1rem !important;
	border: 1px solid;
	padding: 5px 10px;
	margin: 5px;
}

/* Captions.
--------------------------------------------- */
/* Galleries.
--------------------------------------------- */
/*--------------------------------------------------------------
# Layouts.
--------------------------------------------------------------*/
/* Common.
--------------------------------------------- */
::-webkit-input-placeholder {
	color: #D4D4D8;
}
::-moz-placeholder {
	color: #D4D4D8;
}
::-ms-input-placeholder {
	color: #D4D4D8;
}
::placeholder {
	color: #D4D4D8;
}

.zak-top-bar,
.zak-footer {
	background-color: #18181B;
	color: #FAFAFA;
	font-size: 1.4rem;
}

.zak-top-bar .zak-row,
.zak-footer-bar .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.zak-top-bar .zak-row,
.zak-footer-bar .zak-row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0.75em;
}

.zak-top-bar .zak-container,
.zak-footer-bar .zak-container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	row-gap: 0.8rem;
}

.zak-top-bar p,
.zak-footer-bar p {
	margin: 0;
}

.zak-top-bar .header-bar-social-icons a,
.zak-footer-bar .header-bar-social-icons a {
	text-decoration: none;
}

.zak-top-bar a,
.zak-footer-bar a {
	text-decoration: none;
}

.zak-top-bar a:hover,
.zak-footer-bar a:hover {
	color: inherit;
	text-decoration: none;
}

.zak-top-bar .widget,
.zak-footer-bar .widget {
	margin: 0;
}

.zak-top-bar .widget li,
.zak-footer-bar .widget li {
	border-bottom: none;
}

.zak-top-bar .menu,
.zak-footer-bar .menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 12px;
	margin: 0;
	list-style-type: none;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.zak-top-bar .menu a,
.zak-footer-bar .menu a {
	text-decoration: none;
}

.zak-top-bar .menu a:hover,
.zak-footer-bar .menu a:hover {
	text-decoration: underline;
}

.zak-top-bar__1,
.zak-top-bar__2,
.zak-footer-bar__1,
.zak-footer-bar__2 {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.zak-top-bar .zak-row,
	.zak-footer-bar .zak-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

/* Header.
--------------------------------------------- */
.zak-top-bar {
	display: none;
	padding-bottom: 14px;
	padding-top: 14px;
}

@media screen and (min-width: 600px) {
	.zak-top-bar {
		display: block;
		border-style: solid;
		border-width: 0;
	}
}

.zak-header {
	border-bottom: 1px solid #E4E4E7;
}

.zak-header .zak-row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.zak-main-header {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FAFAFA;
}

.zak-main-header .zak-row {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	gap: 40px;
}

.zak-main-header .zak-header-col--2 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

@media screen and (min-width: 992px) {
	.zak-header-col--2 {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

.zak-header.zak-layout-1-style-2 .zak-container {
	padding: 0;
}

.zak-header.zak-layout-1-style-2 .zak-header-col--2 {
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.zak-header.zak-layout-1-style-2 .zak-primary-nav {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}

.zak-header.zak-layout-1-style-2 .zak-main-header .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
}

.zak-header.zak-layout-1-style-2 .site-branding {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}

.zak-header.zak-layout-1-style-2 .site-branding .custom-logo-link {
	margin-right: 0;
}

.zak-header.zak-layout-1-style-2 .zak-primary-nav {
	display: none;
}

@media screen and (min-width: 768px) {
	.zak-header.zak-layout-1-style-2 .zak-primary-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-left: initial;
	}
}

.zak-header.zak-layout-1-style-3 {
	/* Site branding */
	/* Menu primary */
}

.zak-header.zak-layout-1-style-3 .zak-main-header .zak-row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.zak-header.zak-layout-1-style-3 .zak-main-header .zak-header-col--2 {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.zak-header.zak-layout-1-style-3 .site-branding {
	margin-left: 20px;
}

.zak-header.zak-layout-1-style-3 .site-branding .custom-logo-link {
	margin-right: 0;
}

.zak-header.zak-layout-1-style-3 .zak-primary-nav {
	margin-left: initial;
	margin-right: 0;
	-webkit-box-flex: initial;
	-ms-flex: initial;
	flex: initial;
}

.zak-header.zak-layout-2-style-1 .zak-main-header {
	padding: 0;
}

.zak-header.zak-layout-2-style-1 .zak-main-header .zak-row {
	gap: 0;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.zak-header.zak-layout-2-style-1 .zak-header-col--2 {
	display: block;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	width: auto;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	padding-top: 10px;
	padding-bottom: 10px;
	background: #F4F4F5;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #D4D4D8;
}

.zak-header.zak-layout-2-style-1 .zak-header-col--2 .zak-container {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.zak-header.zak-layout-2-style-1 .zak-header-col--1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 40px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.zak-header.zak-layout-2-style-1 .zak-primary-nav {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.zak-header.zak-layout-2-style-1 .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.zak-header.zak-layout-2-style-1 .zak-header-col--1 {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

.zak-header.zak-layout-1-transparent {
	position: relative;
	border-bottom: none;
}

.zak-header.zak-layout-1-transparent .zak-main-header {
	background: transparent;
}

.zak-header.zak-layout-1-transparent .zak-header-transparent-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	height: auto;
	width: 100%;
	background: transparent;
	border-bottom: 1px solid #E4E4E7;
}

.zak-header.zak-layout-1-transparent .zak-header-transparent-wrapper .zak-header-search--opened.zak-main-header {
	background: #27272A;
}

/* Content.
--------------------------------------------- */
.zak-secondary {
	word-break: break-word;
}

.zak-secondary .wp-element-button {
	color: transparent;
}

.zak-secondary li {
	line-height: 1.8;
}

@media screen and (min-width: 768px) {
	.zak-secondary {
		width: 30%;
		padding-top: 3.75em;
		padding-left: 1.875em;
		padding-bottom: 3.75em;
		border-left: 1px solid #E4E4E7;
	}
}

.zak-content {
	background-color: #FFF;
}

.zak-content .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-top: 3.75em;
	padding-bottom: 3.75em;
	gap: 3.75em;
}

.zak-primary {
	width: 100%;
}

.has-transparent-header:not(.blog):not(.has-page-header),
.zak-no-content-margin,
.elementor-template-full-width,
.page-template-pagebuilder {
	/* Remove content margin when,
	1. When transparent header is present.
	2. Content margin is removed via options.
	3. Using full width Elementor template.
	4. Using Page builder template.
	*/
}

.has-transparent-header:not(.blog):not(.has-page-header) .zak-row,
.zak-no-content-margin .zak-row,
.elementor-template-full-width .zak-row,
.page-template-pagebuilder .zak-row {
	padding: 0;
}

body:not(.tg-container--separate) #page {
	background: #FAFAFA;
}

.backdrop {
	position: relative;
}

.backdrop::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background: rgba(82, 82, 91, 0.2);
}

@media screen and (min-width: 768px) {
	.zak-content .zak-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		gap: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.zak-primary {
		width: 70%;
		padding-top: 60px;
		padding-right: 30px;
		padding-bottom: 60px;
	}
}

/* Blog.
--------------------------------------------- */
.zak-posts {
	display: grid;
	grid-template-columns: 1fr;
}

.zak-posts .zak-entry-thumbnail img {
	border-radius: 4px;
}

.page .entry-content {
	margin-top: 0;
	word-break: break-word;
}

/* Footer.
--------------------------------------------- */
.zak-footer .site-info {
	text-align: center;
	padding: 1rem 0;
}

.zak-footer .zak-footer-widget-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 60px 0 25px;
}

.zak-footer .zak-footer-widget-container.style-1 .zak-footer-col {
	width: calc(25% - 20px);
}

.zak-footer .menu li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 8px;
}

.zak-footer .zak-submenu-toggle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	fill: #FFF;
}

.zak-footer .zak-footer-widget--title-hidden .widget-title {
	display: none;
}

.zak-footer .footer-social-icons ul {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

/* Footer column. */
.zak-footer-cols {
	padding-bottom: 60px;
	padding-top: 60px;
	border-top: 1px solid #D4D4D8;
	color: #D4D4D8;
}

.zak-footer-cols .zak-row {
	display: grid;
	gap: 32px;
}

.zak-footer-cols .widget {
	margin: 0;
}

.zak-footer-cols .widget-title,
.zak-footer-cols h2 {
	margin-bottom: 16px;
	font-size: 1.6rem;
}

.zak-footer-cols h1,
.zak-footer-cols h2,
.zak-footer-cols h3,
.zak-footer-cols h4,
.zak-footer-cols h5,
.zak-footer-cols h6 {
	color: #FAFAFA;
}

.zak-footer-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 32px;
}

.zak-footer-col .wp-block-social-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.zak-footer-col .widget ul a {
	color: #FFF;
	text-decoration: none;
}

.zak-footer-col ul li {
	border-bottom: 0 solid #E4E4E7;
}

.zak-footer-cols.zak-layout-1-style-1 .zak-row, .zak-footer-cols.zak-layout-1-style-2 .zak-row, .zak-footer-cols.zak-layout-1-style-3 .zak-row, .zak-footer-cols.zak-layout-1-style-4 .zak-row {
	grid-template-columns: repeat(var(--grid-column, 1), 1fr);
}

.zak-footer-bar {
	border-top: 1px solid #3F3F46;
	padding-bottom: 24px;
	padding-top: 24px;
}

.zak-footer-bar.zak-style-2 .zak-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: normal;
	-ms-flex-pack: normal;
	justify-content: normal;
}

.zak-footer-bar.zak-style-2 .zak-footer-bar__1,
.zak-footer-bar.zak-style-2 .zak-footer-bar__2 {
	text-align: center;
}

.zak-footer-bar.zak-style-2 .zak-footer-bar__1 ul,
.zak-footer-bar.zak-style-2 .zak-footer-bar__2 ul {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.zak-footer-bar.zak-style-2 .zak-footer-bar__1 .widget,
.zak-footer-bar.zak-style-2 .zak-footer-bar__2 .widget {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.zak-footer-bar.zak-style-2 .zak-footer-bar__1 .widget li,
.zak-footer-bar.zak-style-2 .zak-footer-bar__2 .widget li {
	text-align: center;
}

.zak-scroll-to-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	bottom: 24px;
	right: 24px;
	z-index: 999;
	height: 48px;
	width: 48px;
	border-radius: 4px;
	background-color: #27272A;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.zak-scroll-to-top .zak-icon {
	fill: #FAFAFA;
}

.zak-scroll-to-top:hover {
	background-color: #027ABB;
}

.zak-scroll-to-top.zak-scroll-to-top--show {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

@media screen and (min-width: 768px) {
	.zak-footer-cols.zak-layout-1-style-1 .zak-row {
		--grid-column: 1;
	}
}

@media screen and (min-width: 768px) {
	.zak-footer-cols.zak-layout-1-style-2 .zak-row {
		--grid-column: 2;
	}
}

@media screen and (min-width: 768px) {
	.zak-footer-cols.zak-layout-1-style-3 .zak-row {
		--grid-column: 3;
	}
}

@media screen and (min-width: 768px) {
	.zak-footer-cols.zak-layout-1-style-4 .zak-row {
		--grid-column: 4;
	}
}

/* Pages.
--------------------------------------------- */
.zak-error-404 {
	text-align: center;
}

.zak-error-404 img {
	margin-bottom: 40px;
}

.zak-error-404 .zak-content-header {
	margin-bottom: 30px;
	background-color: transparent;
	font-size: 3.2rem;
	font-weight: 600;
	line-height: 1.3;
}

.zak-error-404 .zak-button {
	display: inline-block;
	margin-top: 30px;
	padding: 8px 16px;
}

.zak-error-404 .zak-button span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 4px;
}

.zak-error-404 .zak-button svg {
	height: 16px;
	width: 16px;
	fill: #FFF;
}

.zak-error-404 .zak-button:hover svg {
	fill: #027ABB;
}

.zak-no-results {
	text-align: center;
}

.zak-no-results .zak-page-header {
	padding: 0;
	background-color: transparent;
}

.zak-no-results .zak-page-header .zak-page-title {
	margin-bottom: 30px;
	font-weight: 600;
	font-size: 3.2rem;
}

.zak-no-results img {
	margin-bottom: 40px;
	width: 230px;
	height: 186px;
}

.zak-no-results .page-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 30px;
}

.zak-no-results .zak-search-container {
	width: 100%;
}

.zak-no-results .zak-search-form .zak-search-field-label {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	border: 1px solid #D4D4D8;
	border-radius: 4px;
}

.zak-no-results .zak-search-form .zak-search-field {
	background-color: transparent;
}

.zak-no-results .zak-icon--search {
	padding: 14px;
}

.zak-no-results .zak-icon--search svg {
	height: 20px;
	width: 20px;
}

.zak-no-results .zak-icon--close {
	display: none;
}

@media screen and (min-width: 768px) {
	.zak-no-results .page-content p {
		width: 544px;
	}
	.zak-no-results .zak-search-form {
		width: 449px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (min-width: 992px) {
	.zak-no-results .zak-search-form {
		width: 564px;
		margin-right: auto;
		margin-left: auto;
	}
}

/* Page templates.
--------------------------------------------- */
.page-template-pagebuilder {
	background: #fff;
}

.page-template-pagebuilder.zak-container--wide .zak-content .zak-container {
	max-width: 100%;
}

.page-template-pagebuilder .widget {
	background: initial;
	padding: 0;
}

.page-template-pagebuilder .zak-primary.pagebuilder-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: inherit;
	padding: 0;
}

.page-template-pagebuilder .zak-content .zak-container {
	padding-left: 0;
	padding-right: 0;
}

.pagebuilder-content a {
	color: #027ABB;
}

.pagebuilder-content a:hover, .pagebuilder-content a:focus {
	color: #0284C7;
}

.page-template.tg-container--separate #page {
	background: #FAFAFA;
}

/* Site layouts.
--------------------------------------------- */
/* Boxed layout. */
.zak-container--boxed .zak-site {
	width: 90%;
	margin: 20px auto;
	-webkit-box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
	box-shadow: 4px 24px 60px rgba(109, 141, 173, 0.25);
}

.zak-container--boxed .zak-site#page {
	background-color: #FAFAFA;
}

.zak-container--boxed .zak-main-header .zak-container,
.zak-container--boxed .zak-content .zak-container,
.zak-container--boxed .zak-top-bar .zak-container,
.zak-container--boxed .zak-footer-bar .zak-container {
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.zak-container--boxed .zak-site {
		max-width: 1170px;
	}
}

/* Separate layout. */
.zak-content-area--boxed {
	background-color: #FFF;
}

.zak-content-area--boxed .zak-posts {
	gap: 30px;
}

.zak-content-area--boxed .zak-post:first-child {
	padding-top: 20px;
	padding-bottom: 20px;
}

.zak-content-area--boxed .zak-post:last-child {
	padding-bottom: 20px;
	border: 1px solid #E4E4E7;
}

.zak-content-area--boxed .zak-secondary {
	border-left: 0 none;
}

.zak-content-area--boxed .zak-site-layout--left .zak-primary {
	padding-left: 2em;
}

.zak-content-area--boxed .zak-site-layout--left .zak-secondary {
	padding-right: 2em;
	border-right: 0 none;
}

.zak-content-area--boxed .zak-post,
.zak-content-area--boxed .widget {
	padding: 20px 24px;
	border: 1px solid #E4E4E7;
	border-radius: 4px;
}

.zak-content-area--boxed .zak-footer-col .widget {
	padding: 0;
	background-color: transparent;
	border: 0;
}

/* Stretched layout. */
.tg-container--stretched .zak-container {
	width: 100%;
	max-width: unset;
}

/* Sidebar.
--------------------------------------------- */
.zak-site-layout--centered .zak-primary {
	max-width: 770px;
	margin: 0 auto;
}

.zak-site-layout--centered.zak-container--boxed .zak-primary .entry-content > .alignfull {
	margin-left: unset;
	margin-right: unset;
}

.zak-site-layout--contained .zak-primary {
	width: 100%;
	padding-right: 0;
}

.zak-site-layout--left .zak-primary {
	padding-right: 0;
}

.zak-site-layout--left .zak-secondary {
	padding-left: 0;
	border-left: 0 none;
}

@media screen and (min-width: 768px) {
	.zak-site-layout--left .zak-content .zak-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.zak-site-layout--left .zak-primary {
		padding-left: 30px;
	}
	.zak-site-layout--left .zak-secondary {
		padding-right: 30px;
		border-right: 1px solid #E4E4E7;
	}
}

.zak-site-layout--centered .zak-primary {
	width: 100%;
	padding-right: 0;
}

.zak-site-layout--centered .zak-primary .entry-content > .alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: unset;
}

.zak-site-layout--centered .zak-primary .entry-content > .alignfull.wp-block-cover, .zak-site-layout--centered .zak-primary .entry-content > .alignfull.wp-block-cover-image {
	width: unset;
}

.zak-site-layout--centered .zak-primary .entry-content > .alignwide {
	margin-left: -100px;
	margin-right: -100px;
	max-width: unset;
}

/*--------------------------------------------------------------
# Gutenberg blocks.
--------------------------------------------------------------*/
/* Media text.
--------------------------------------------- */
.wp-block-media-text .wp-block-media-text__content {
	padding: 0 0 0 8%;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	padding: 0 8% 0 0;
}

@media (max-width: 600px) {
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		padding: 0;
	}
	.wp-block-media-text .wp-block-media-text__content {
		padding: 0;
	}
}

/* Columns.
--------------------------------------------- */
.wp-block-columns {
	padding-top: 3em;
	padding-right: 2em;
	padding-bottom: 3em;
	padding-left: 2em;
}

/* Social icons.
--------------------------------------------- */
.wp-block-social-links li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* Query loop.
--------------------------------------------- */
ul.wp-block-post-template {
	margin: 0;
}

/* Button loop.
--------------------------------------------- */
.entry-content .wp-block-button.is-style-outline .wp-block-button__link {
	color: #027ABB;
	border-width: 1px;
}

/* Cover loop.
--------------------------------------------- */
.wp-block-cover p.wp-block-cover-text {
	color: #FFF;
}

/*--------------------------------------------------------------
# Plugins.
--------------------------------------------------------------*/
.elementor-template-full-width .zak-content .zak-row {
	display: block;
}

body.has-transparent-header {
	/* Hide header on Elementor editor and transparent header. */
}

body.has-transparent-header.elementor-editor-active .zak-header {
	z-index: -1;
}
